.random {
  width: 150px;
  height: 150px;
  background-color: crimson;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

.even {
  color: green;
}

.odd {
  color: red;
}